<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenido a Frikr- Como fliker pero en Friki</title>
</head>
<body>
    <h1>Bienvenido a Frikr</h1>

    <p>Como clifif</p>

    {% if photo_list|length > 0 %}
    {% for photo in photo_list %}
        <img src="{{ photo.url }}"  alt="{{ photo.name }}" title="{{ photo.name }}" height="300">
    {% endfor %}
    {% else %}
        <p>¡Unete a nosotros y se el primero en subir una foto!</p>
    {% endif %}
</body>
</html>