{% extends "base.html" %}



{% block body %}
    <h1>Bienvenido a Frikr</h1>
    <p>Como clifif</p>

    {% if photo_list|length > 0 %}
    {% for photo in photo_list %}
        <a href="/photos/{{ photo.pk }}">
            <img src="{{ photo.url }}"  alt="{{ photo.name }}" title="{{ photo.name }}" height="300">
        </a>
        <p>
            <strong>Autor:</strong>
            {{ photo.owner.first_name }} {{photo.owner.last_name}}
        </p>
    {% endfor %}
    {% else %}
        <p>¡Unete a nosotros y se el primero en subir una foto!</p>
    {% endif %}
{% endblock %}
